{% extends 'base.html.twig' %}

{% form_theme formLivre 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Création Formulaire</h1>

    {{form_start(formLivre)}}
    
    {{ form_row(formLivre.titre,{'label':"Titre",'attr' : {'placeholder':"titre du livre"}})}}
    {{ form_row(formLivre.synopsis,{'label':"Synopsis",'attr' : {'placeholder':"synopsis du livre"}})}}
    {{ form_row(formLivre.maisonedition,{'label':"Maison d'édition",'attr' : {'placeholder':"Maison d'édition"}})}}
    {{ form_row(formLivre.genrelitteraire,{'label':"Genre",'attr' : {'placeholder':"Genre du livre"}})}}
    {{ form_row(formLivre.premieredecouverture,{'label':"Couverture",'attr' : {'placeholder':"Url de l'image"}})}}



    <button type="submit" class="btn btn-success">ajouter le livre</button>
    {{form_end(formLivre)}}

{% endblock %}