{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre Virtualthèque{% endblock %}

{% block body %}
<section class="mybibli">
     {% for livre in livres %}
        <article>
            <h2>{{livre.titre}}</h2>
            <div class="metadata">Lu le 24/03/2021 à 15:26</div>
            <div class="content">
                <img src={{livre.couverture}} alt="" class="img-livre">
            <p>{{livre.synopsis | raw}}</p>

                <a href="/afficherLivre/{{livre.idLivre}}" class="btn btn-primary">afficher les informations</a>
            </div>
        </article>

    {% endfor %}



</section>
    <div id="sectionLivres"> </div>

    {% block javascripts %}
            {{ encore_entry_script_tags('affichagelivre') }}
    {% endblock %}

{% endblock %}
