{% extends 'base.html.twig' %}

{% block body %}

    <form method="GET" action="" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Livre" aria-label="Livre" name="leLivre">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    {% for livre in livretab %}

        {% if livre["nom"] != "Pas de résultat" %}
            <h2>{{livre["nom"]}}</h2>
            <h3>{{livre["auteur"]}}</h3> <br>
            <img src={{livre["img"]}}><br>
            <p>{{livre["genre"]}}</p>
            <form method="POST" action="#">
                <button class="btn btn-primary" type="submit" name="livreChoisi" value="{{loop.index}}">Ajouter ce livre à ma bibliothèque</button></a>
            </form>

        {% endif %}
    {% endfor %}

{% endblock %}